*, *::before, *::after {
  box-sizing: border-box;
}

html,body,h1,h2,h3,h4,h5,h6,p,div,ul,li,menu {
	margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans';
  font-size: 16px;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.subtitle {
  color: #e5bb70;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.text {
  font-size: 14px;
  line-height: 17px;
}

.black-txt {
  color: #242322;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #87703F;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #000;
}

.products__menu {
  display: none;
}


/*========= HEADER =========*/

.header {
  display: flex;
}

.header__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #87703F;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 15px;
}

.header__toggle-btn {
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: #fff;
}

.header__toggle-btn:last-child {
  margin-top: 4px;
}

.header__toggle-btn:last-child::after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 8px;
}

.header__toggle-btn:last-child::before {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 7px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-left: 55px;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: -100%;
  transition: .3s;
  z-index: 1;
  overflow: hidden;
}

.header__menu-item {
  list-style: none;
  margin-top: 10px;
}

.header__menu-link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.active,
.header__menu-link:hover {
  color: #87703F;
  border-bottom: 2px solid #87703F;
}

.menu-close:hover {
  color: #fff;
  border: none;
}

.menu-close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 35px;
  border: none;
  background-color: #87703F;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

.header__menu-callback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.header__menu-phone {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header__menu-call-btn {
  margin-top: 10px;
}



/*============ MAIN ===========*/

/*====== SECTION_PRESENT ======*/
.section-present {
  padding: 9vw 0 55px;
  background: url(img/bg-present.jpg) no-repeat;
  background-size: 110%;
  background-position: center 20vw;
}

.section-present__text {
  position: relative;
  width: 60%;
  text-align: center;
  margin: 24vw 0 27vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-present__conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #242322;
}

.section-present__logo {
  width: 74vw;
}

.section-present__subtitile-top {
  display: inline-block;
  max-width: 40%;
  font-size: 4.5vw;
  line-height: 5vw;
  font-weight: normal;
  color: #000;
  position: absolute;
  top: -31vw;
}

.section-present__title {
  color: #242322;
  font-size: 6vw;
  line-height: 7vw;
}


.section-present__subtitile-bottom {
  font-size: 4.5vw;
  font-weight: normal;
}


/*===== SECTION-MORE ======*/

.section-more {
  background: url(img/section-more-background.jpg) no-repeat center;
  background-size: cover;
  
}

.section-more__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-more__title {
  margin-top: 50px;
}

.section-more__subtitle {
  margin-top: 15px;
}

.section-more__descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-more__descrip-img {
  width: 300px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.section-more__text {
  max-width: 400px;
  padding: 0 10px;
  align-self: center;
}

.section-more__img-group {
  width: 300px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 300px;
  margin: 45px 20px 0;
  padding-bottom: 70px;
}

.section-more__img-group--item {
  height: 110px;  
}

.section-more__img-group--img {
  display: block;
  height: 100%
}


.section-more__img-group--item:nth-child(3),
.section-more__img-group--item:last-child {
  margin-top: 18px;
}


/*========== SECTION-PRODUCTS ==========*/

.section-products {
  background-image: url(img/product-bg.png);
}

.section-products__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-products__title {
  margin-top: 42px;
  color: #242322;
}

.products {
  text-align: center;
}

.products__select {
  width: 240px;
  margin-top: 20px;
  padding: 10px 20px;
  color: #6d6e71;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #6D6E71;
  border-radius: 5px;
  background: url(img/arrow-select.png) no-repeat 95% 60% #fff ;
}

.products__items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.products__items-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  cursor: pointer;
}

.product__descrip {
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__img {
  height: 120px;
  margin-bottom: 30px;
}

.product__name {
  height: 45px;
  color: #242322;
}


.section-product__download-btn {
  margin: 55px 0;
}

/*======== SECTION-ABOUT ========*/

.section-about {
  background: url(img/mushrooms.png) no-repeat;
  background-size: cover;
}

.section-about__conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 15px; 
  background: rgba(0, 0, 0, 0.7);
}

.section-about__title {
  margin: 50px 0 10px 0;
}

.section-about__descrip {
  max-width: 450px;
  margin: 35px 0 15px;

}

.section-about__detial-btn {
  margin: 35px 0 85px;
}


/*======== SECTION-REASONS =========*/

.section-reasons {
  padding: 45px 0 50px;
}

.section-reasons__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-reasons__title {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.section-reasons__descrip {
  max-width: 900px;
  padding: 25px 15px 45px;
  text-align: center;
}


.section-reasons__descrip-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}


.section-reasons__item {
  width: 300px;
  padding-bottom: 25px;
  text-align: center;
}


.section-reasons__item-descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-reasons__item-title {
  display: block;
  width: 200px;
  margin: 15px 0;
  font-weight: bold;
}

.section-reasons__btn {
  margin-top: 50px;
}

/* ================== SECTION-REQUEST ==================*/

.section-request {
  background: url(img/req-bg.png) no-repeat;
}

.section-request__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-request__logo {
  width: 95%;
  margin: 0 auto;
}






/* ======================================================== */
@media only screen and (min-width: 641px) {

  .button {
    font-size: 16px;
  }

  .title {
    font-size: 48px;
    line-height: 55px;
  }

  .subtitle {
    font-size: 48px;
  }

  .text {
    font-size: 16px;
    line-height: 17px;
  }
  
  /* SECTION_PRESENT */

  .section-present {
    padding-top: 40px;
    background-size: 800px;
    background-position-y: 140px;
  }

  .section-present__text {
    width: 500px;
    margin: 200px 0 230px;
  }

  .section-present__subtitile-top {
    max-width: 100%;
    position: relative;
    top: 0;
  }

  .section-present__subtitile-top,
  .section-present__subtitile-bottom {
    font-size: 25px;
    line-height: 30px;
  }

  .section-present__title {
    margin: 20px 0;
  }


  .section-present__logo {
    width: 600px;
  }

  .header__menu-phone {
    font-size: 24px;
  }

  /* SECTION-PRODUCTS */

  .section-products__conteiner {
    padding: 85px 0 115px;
  }

  .products__items-item {
    width: 33%;
  }

  .product__img {
    height: 190px; 
  }

  .section-product__download-btn {
    margin-top: 70px;
  }


  /* SECTION-ABOUT */

  .section-about {
    padding: 85px 0 115px;
  }

  .section-about__conteiner {
    justify-content: right;
    padding-right: 15px; 
  }

  .section-about__inner {
    width: 600px;
    padding: 0;
    padding-left: 37px; 
    align-items: flex-start;
  }

  .section-about__title,
  .section-about__subtitle {
    font-size: 36px;
    text-align: left;
  }

  .section-about__descrip {
    margin-left: 0;
  }

  /*======== SECTION-REASONS =========*/

  .section-reasons {
    padding: 110px 0 100px;
  }

  .section-reasons__descrip-title {
    font-size: 24px;
  }

  .section-reasons__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    padding: 0 10px;
  }

  .section-reasons__item {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    text-align: left;
  }

  .section-reasons__item-img {
    margin-right: 20px;
  }

  .section-reasons__item-descrip {
    align-items: flex-start;
  }

  .section-reasons__item-title {
    width: 100%;
    margin-top: 0;
  }

}

@media only screen and (min-width: 721px) {
  .section-more__img-group {
    width: 100%;
    
  }

  .section-more__img-group--item {
    height: 150px;
  }

  .section-more__img-group--item:nth-child(3), 
  .section-more__img-group--item:last-child {
    margin-top: 0;
}
}

@media only screen and (min-width: 961px) {
  .conteiner {
    max-width: 960px;
  }

  .button {
    padding: 15px 25px;
  }

  .text {
    font-size: 18px;
    line-height: 21px;
  }

  .section-present {
    background-size: 1600px;
    background-position-y: -50px;
  }

  .section-present__logo {
    width: 800px;
    margin-top: 70px;
  }

  .header__toggle,
  .header__menu-call-btn,
  .menu-close {
    display: none;
  }

  .header__menu {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .header__menu-inner {
    display: inline-flex;
  }

  .header__menu-item {
    margin: 0px;
    margin-right: 20px;
  }

  .header__menu-item:nth-child(7),
  .header__menu-item:nth-child(8) {
    margin: 0;
  }

  .header__menu-link,
  .header__menu-phone {
    color: #242322;
  }

  .header__menu-link {
    font-size: 16px;
  }

  .header__menu-callback {
    margin: 0;
    margin-left: 70px;
  }

  /*====== SECTION_PRESENT ======*/

  .section-present__text {
    width: 900px;
    margin: 45px 0 0;
  }

  .section-present__subtitile-top,
  .section-present__subtitile-bottom {
    font-size: 36px;
    line-height: 36px;
  }

  .section-present__title {
    margin: 35px 0;
  }

  .section-present__btn {
    margin-top: 20px;
  }
  
  /*===== SECTION-MORE ======*/
  .section-more__conteiner {
    padding-top: 95px;
  }


  .section-more__descrip {
    flex-direction: row;
  }

  .section-more__text {
    text-align: left;
  }

  .section-more__descrip-img {
    width: 460px;
  }

  /* SECTION-PRODUCTS */
  .products__menu {
    display: block;
  }

  .products__select {
    display: none;
  }

  .produsts__menu-inner {
    display: flex;
    justify-content: center;
    margin: 40px 0 55px;
  }

  .product__menu-item {
    padding-right: 18px;
    margin-right: 18px;
    border-right: 2px solid #242322;
    font-size: 24px;
  }

  .product__menu-item:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }

  .product__menu-link {
    color: #242322;
  }

  .active,
  .product__menu-link:hover {
    color: #87703F;
    border-bottom: 2px solid #87703F;
  }

  .product__more-btn {
    display: none;
  }


  .product__name {
    margin-bottom: 35px;
  }

  .products__items-item {
    margin-top: 15px;
    padding: 0 0 30px;
    height: 430px;
  }

  .products__items-item:hover {
    background-color: #fff;
    border-radius: 5px;
    padding: -1px 0 29px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #000;
}

.products__items-item:hover .product__more-btn {
  display: block;
  margin-bottom: 34px;
}

}

@media only screen and (min-width: 1025px) {


  .section-present{
    height: auto;
    padding: 0;
  }
  
  .section-present__conteiner {
    height: auto;
    padding: 90px 0 170px;
  }

  .section-present__btn {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1271px) {


  .header__menu {
  }

  .header__menu-callback {
    flex-direction: row;
    align-items: center;
  }
  
  .header__menu-call-btn {
    display: block;
    margin: 0;
    margin-left: 25px;
  }
}
